article, aside, footer, header, main, nav, section {
	display: block;
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
	color:white;
}

html, body, h1, h2, h3, ul, li, a, p {
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
	color: white;
}


nav {
	background-color: #3c3c3c;
	padding: 15px;
	margin-top: : 5px;
	margin-bottom: 2px;
}

li{
	display: inline;
	font-weight: bold;
	margin-left: 15px;
	margin-right: 15px;

}

.banner{
	background-color: #424444;
	color:white;
	padding: 20px 30px;
	margin-bottom: 10px;
	box-shadow: 2px 2px 20px #242424;
}

body{
	/*background-color: #171717;*/
	background-image: linear-gradient(to bottom, #171717, #363535);
	width: 1000px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	font-size: 15px;
}

.material-icons {
	position: relative;
	top:-78px;
	left: 160px;
}


main {
	width: 1000px;
	margin-bottom: 10px;
}

.populares {
	position: relative;
	left: 100px;
	color: white;
	width: 100px;
	top: 8px;
	background-color: #373838;
	padding: 10px;
}

.corpo {
	width: 800px;
	height: 500px;
	font-size: 25px;
	padding: 40px;
	margin-left: auto;
	margin-right: auto;
	background-color: #373838;
	box-shadow: 2px 2px 20px #242424;
}

div a h1 {
	text-align: left;
	background-color: #373838;
	padding: 20px;
	margin-bottom: 0px;
	margin-top: 1px;
	font-size: 20px;
}

.texto_form {
	position: absolute;
	padding: 15px 10px 15px 10px;
	width: 600px;
	left: 370px;
	text-align: center;
	color: white;
	margin-bottom: -300px;
	font-size: 16px;
	background-color: #373838;
	box-shadow: 2px 2px 20px #242424;
}

.avalie {
	font-size: 18px;
	text-align: center;
}

.form_input_text {
	margin-bottom: 10px;
	text-align: center;
	padding: 15px;
	background-color: #171717;
	width: 300px;
	height: 30px;
	color: white;
	font-size: 15px;
}

.form_button {
	width: 300px;
	background-color: white;
	color: #171717;
	padding: 10px;
	font-size: 15px;
	font-weight: bold;
}

.game_name {
	text-align: left;
	font-size: 30px;
	font-weight: bold
}

.descrição {
	text-align: justify;
	width: 280px;
	float: right;
	color: white;
	font-size: 15px;
	position: relative;
	right: -130px;
	top: -290px;
}

.game_name_comprar {
	position: relative;
	bottom: 140px;
	font-size: 22px;
	padding-left: 30px;
}

.comprar {
	position: relative;
	bottom: 190px;
	left: 330px;
	color: black;
	background-color: white;
	font-weight: bold;
	border-radius: 4px;
	width: 200px;
	text-align: center;
	padding: 20px 40px 20px 40px;
	width: 28%;
	font-weight: bold;
	font-size: 20px;
}

.form_button_rating {
	width: 80px;
	border-radius: 5px;
	background-color: white;
	color: #171717;
	padding: 10px 0px 10px 0px;
	font-size: 15px;
	font-weight: bold;
}

.dropdown {
	font-weight: bolder;
	font-size: 25px;
	padding: 5px 14px 5px 14px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin-bottom: -30px;
}

li a {
	color: white;
	font-size: 18px;
	text-decoration: none;
}

a {
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
}

nav ul li a:hover {
	color: black;
	background-color: white;
	padding: 10px;
}



footer {
	clear: both;
	text-align: justify;
	width: 22%;
	margin-left: auto;
	margin-right: auto;
	background-color: #424444;
	color: white;
	padding: 20px;
	margin-top: -200px;
	box-shadow: 2px 2px 20px #242424;
}

form {
	color: black;
}

.cor_fundo {
	background-color: #0d0d0d;
	width: 600px;
	height: 440px;
	padding: 30px 0px 40px 15px;
	margin-right: 600px;
}


.corpo {
	padding: 20px 8px 8px 8px;
}

.box {
	margin-top: 2px;
	margin-bottom: 15px;
	background-color: #171717;
	font-weight: bold;
  position: sticky;
}



.box_sub {
	text-indent: 170px;
	text-align: left;
	position: absolute;
	top: -55px;
	height: -0px;
	margin-top: -6px;
}

.box:hover {
	color: black;
	background-color: #D3D3D3;
}

.fundo_corpo {
	background-color: #111111;
	height: 650px;
	padding: 25px 20px 20px 18px;
}

/*  Css do slideshow */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
	bottom: 410px;
  position: relative;
  margin-left: -200px;
}

/* Hide the images by default */
.mySlides {
	display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}


/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Six columns side by side */
.column {
	position: relative;
	top: -400px;
  float: left;
  width: 16%;
	left: 20px;
	margin-left: 20px;
	margin-right: -70px;
}



/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 184px;
  border-radius: 3px 0 0 3px;
}

.prev {
	left:182px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
	background-color: #171717;
	font-weight: bold;
  color: #f2f2f2;
  font-size: 16px;
	padding: 12px;
  padding: 8px 12px;
  position: absolute;
	left: 68%;
  top: 20px;
  width: 22%;
  text-align: center;
	box-shadow: 2px 2px 20px #242424;
}

/* Bloco em baixo do caption text */
.sub_text {
	position: absolute;
	left: 68%;
	bottom: 20px;
	margin-top: 10px;
	width: 22%;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: bold;
	font-size: 18px;
	background-color: #373838;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
	left: 220px;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
